

footer {
    background-color: #2c394b;
    font-size: 18px;
    color: #cccccc;
    padding: 0 40px;
    padding-top: 40px;
}

footer.row {
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
footer .col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#social-media {
  align-items: flex-start;
}

#address-phone {
  align-items: flex-end;
}

#address-phone h4 {
  text-align: end;
  font-weight: lighter;
}

i {
  margin-right: 1em;
}

i:hover,
#social-media a:hover {
  color: #3e8e7e;
}

i:hover {
  transform: scale(1.2);
  transition: all 1 ease-in-out;
}

.col h3 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.col h4 {
  font-size: 0.8em;
}

.copy-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.7em;
  font-weight: bolder;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .container .row {
    display: flex;
    flex-direction: column;
  }

  .container .col {
    justify-content: center;
  }

  #social-media {
    align-items: center;
    margin-bottom: 30px;
  }

  #address-phone {
    align-items: center;
  }

  #address-phone h4,
  #address-phone h3 {
    text-align: center;
  }

  #address-phone h4 {
    font-weight: lighter;
  }

  .col h3 {
    margin-bottom: 13px;
  }
}
