.my-navbar {
  background-color: #191919;
  font-size: 1.6em;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 40px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ccc;
}

.logo {
  flex-grow: 1;
}

.logo a {
  color: #6e3cbc;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0.5;
  font-size: 1.1em;
  font-weight: bolder;
  align-items: center;  
}

.navbar-menu a:hover {
  color: #3e8e7e;
  transform: translateY(-2px);
}

.navbar-menu a {
  padding-left: 0 1em;
  font-size: 0.5em;
}

#login-btn {
  font-size: 1.1em;
  padding: 20px ;
  border: none;
  border-radius: 5em;
  outline: none;
  text-decoration: none;
  background-color: #3e8e7e;
  font-weight: bolder;
}

#login-btn:hover {
  transform: none !important;
}

/* Humburger Menu */
.hamburger-menu {
  height: 20px;
  width: 20px;
  border-radius: 1px solid #ccc;
  display: flex;
  align-items: center;
  display: none;
}

.line {
  height: 3px;
  width: 20px;
  background-color: #ccc;
  transition: all 0.2s ease-in-out;
}

.line::before,
.line::after {
  content: "";
  height: 3px;
  width: 20px;
  background-color: #ccc;
  position: absolute;
}

.line::before {
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
}

.line::after {
  transform: translateY(10px);
  transition: all 0.2s ease-in-out;
}

.hamburger-menu.open .line {
  transform: translateX(-30px);
  background: transparent;
  box-shadow: none;
}

.hamburger-menu.open .line::before {
  transform: rotate(45deg) translate(20px, -20px);
}

.hamburger-menu.open .line::after {
  transform: rotate(-45deg) translate(20px, 20px);
}

@media (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .navbar-menu {
    display: none;
  }
}

/* Additional */
.aditionalStyle {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: #6e3cbc;
  font-size: 1.6em;
}