<footer>
    <div class="row">
        <div class="col" id="social-media">
            <h3>Social Media</h3>
            <div class="social-media">
                <a href="https://www.instagram.com/indramahaarta/"><i class="fab fa-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=6282147474931"><i class="fab fa-whatsapp"></i></i></a>
                <a href="https://line.me/ti/p/~indranu_"><i class="fab fa-line"></i></a>
                <a href="https://twitter.com/Indramahaarta_"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/indramahaarta"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="col" id="address-phone">
            <h3>Address & Phone</h3>
            <h4>Jl. Juragan Sinda III No.18, Kukusan, Kecamatan Beji, Kota Depok, Jawa Barat 16425</h4>
            <h4>official.indramahaarta@gmail.com</h4>
            <h4>+62 821-4747-4931</h4>
        </div>
    </div>
    <div class="copy-right">
        <p>
            © 2022 Indramahaarta. All Right Reserved
        </p>
    </div>
</footer>