<nav class="my-navbar">
  <div class="container">
    <div class="navbar-content">
      <div class="logo">
        <a href="">indra</a>
      </div>
      <div class="hamburger-menu" id="hum">
        <div class="line" id="line"></div>
      </div>
      <div class="navbar-menu" id="menu">
        <a class="link" href="#about">About Me</a>
        <a class="link" href="#experience">Experience</a>
        <a class="link" href="#portfolio">Portfolio</a>
        <a href=""><button id="login-btn">Login</button></a>
      </div>
    </div>
  </div>
</nav>
