{% extends 'base.html' %} 

{% load static %} 

{% block meta%}
<title>Indra Mahaarta</title>

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/mainview.css' %}">
{% endblock %} 

{% block content %}
<div class="main-content">
    <div class="landing">
        <div class="container landing-content">
            <div class="left">
                <h1>Hi, i am <span class="name">Indra Mahaarta</span></h1>
                <h4>Student at <span class="ui">University of Indonesia</span></h2>
                <p>I like to explore new things, especially those related to computer science</p>
                <div class="btn-container">
                    <button>Visit My Blog</button>
                </div>
            </div>
            <div class="right">
                <div class="foto-profile">
                    <img src="static\foto\indra-removebg-preview.png" alt="indra">
                </div>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="layer" id="about-layer">
            <div class="container">
                <h2 class="content-title">About Me</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi sed ab laborum nostrum dolores eius, assumenda consectetur laboriosam nobis facilis quibusdam nemo, molestiae, velit maiores quidem neque ea. Sint, hic!
                Quaerat aliquid, quasi reiciendis, consequuntur consequatur tempora fugiat eos sapiente dolorem illum, ab voluptatum nemo dolor mollitia dolores harum ut explicabo temporibus in commodi? Consequuntur vel adipisci impedit amet facere.
                Laudantium error praesentium laborum id fugit consequatur, quod sint cupiditate! Officia libero optio omnis, ullam sapiente, saepe perspiciatis similique exercitationem, fugiat vero ipsum deserunt. Expedita doloremque sed suscipit praesentium ea?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam voluptatum nostrum optio quisquam doloremque sint quia! Quos ab modi quod, officiis et officia illo praesentium molestias adipisci quas, ducimus consequuntur!
                Eos error inventore doloremque tenetur quidem libero omnis ea cumque perferendis ipsum alias suscipit, repellat quos eum. Ut est quae magnam, illum iste eligendi excepturi exercitationem totam consectetur? Consequatur, similique?
                Ex distinctio minus quasi expedita perferendis. Blanditiis, perspiciatis delectus? Amet quis magnam neque natus, sapiente quae necessitatibus magni libero modi eveniet voluptatum provident quaerat suscipit non expedita aliquam enim illum!
                Doloremque nam at doloribus aliquam voluptates eius iste incidunt ad, distinctio ut facilis explicabo, expedita rerum a ducimus. Fugit quidem suscipit quisquam nulla, earum velit facere unde natus facilis. Ipsa!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aspernatur quam, maiores reiciendis eligendi, vitae, quae neque deleniti natus id quos ut. Eligendi exercitationem obcaecati cupiditate sequi doloribus nisi iusto.</p>
            </div>
        </div>
    </div>
    <div class="experience" id="experience">
        <div class="layer" id="experience-layer">
            <div class="container">
                <h2 class="content-title">Experience</h2>
                <div class="box-wrapper">
                    <div class="box">
                        <img src="static\img\oh.jpg" alt="Open House Fasilkom UI 2021" class="front">
                        <div class="text-img"><center>OH Fasilkom 2021</center></div>
                        <div class="back">
                            <div>as Public Relations and Publication Staff</div>
                        </div>
                    </div>
                    <div class="box">
                        <img src="static\img\perak2021.jpg" alt="Perak 2021" class="front">
                        <div class="text-img"><center>Perak 2021</center></div>
                        <div class="back">
                            <div>as Bazaar and Consumption Division Staff</div>
                        </div>
                    </div>
                    <div class="box">
                        <img src="static\img\betis2021.jpg" alt="Betis2021" class="front">
                        <div class="text-img"><center>Betis 2021</center></div>
                        <div class="back">
                            <div>as a Physics Teacher</div>
                        </div>
                    </div>
                    <div class="box">
                        <img src="static\img\ddp0.jpg" alt="DDP0" class="front">
                        <div class="text-img"><center>Mentoring DDP0</center></div>
                        <div class="back">
                            <div>as a DDP0 mentor</div>
                        </div>
                    </div>
                    <div class="box">
                        <img src="static\img\kmhdui2021.jpg" alt="KMHDUI 2021" class="front">
                        <div class="text-img"><center>KMHDUI 2021</center></div>
                        <div class="back">
                            <div>as a Sports Division Staff</div>
                        </div>
                    </div>
                    <div class="box">
                        <img src="static\img\ristek2021.jpg" alt="Ristek 2021" class="front">
                        <div class="text-img"><center>Ristek 2021</center></div>
                        <div class="back">
                            <div>as a Member in Competitive Programing SIG</div>
                        </div>
                    </div>
                    <div class="box">
                        <img src="static\img\perak2022.jpg" alt="Perak 2022" class="front">
                        <div class="text-img"><center>Perak 2021</center></div>
                        <div class="back">
                            <div>as a PIC in Bazaar and Consumption Division</div>
                        </div>
                    </div>
                    <div class="box">
                        <img src="static\img\kmhdui2022.jpg" alt="KMHDUI 2022" class="front">
                        <div class="text-img"><center>KMHDUI 2022</center></div>
                        <div class="back">
                            <div>as Head of the Sports Division</div>
                        </div>
                    </div>  
                </div>
            </div>  
        </div>
    </div>
    <div class="portfolio" id="portfolio">
        <div class="layer" id="portfolio-layer">
            <div class="container">
                <h2 class="content-title">Portfolio</h2>
                <div class="box-wrapper">
                    <div class="box-content">
                        <img class="foto" src="static\img\PersonalWebsite.png" alt="Personal Website">
                        <div class="text-content">
                            <div class="title">Personal Website</div>
                            <p>This is the first personal website that I developed. I use Django as the framework and PostgreSQL as the database. I complete this project with an authentication & authorization system and also a blog feature.</p>
                            <br>
                            <div class="title">Technology</div>
                            <div class="wrapper">
                                <i class="fab fa-python"></i>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-js-square"></i>
                            </div>
                        </div>
                    </div>
                    <div class="box-content">
                        <img class="foto" src="static\img\temenin-isoman.png" alt="Personal Website">
                        <div class="text-content">
                            <div class="title">Temenin Isoman</div>
                            <p>Temenin Isoman is my final project for the PBP course. In this project, I am working on the "Deteksi Mandiri" feature, which allows people to participate in the COVID-19 assessment test. In addition, I am also working on the authentication and authorization system.</p>
                            <br>
                            <div class="title">Technology</div>
                            <div class="wrapper">
                                <i class="fab fa-python"></i>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-js-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}