{% extends 'base.html' %} 

{% load static %} 

{% block meta%}
<title>Indra Mahaarta</title>

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/mainview.css' %}">
{% endblock %} 

{% block content %}
<div class="main-content">
    <div class="landing">
        <div class="container landing-content">
            <div class="left">
                <h1>Hi, i am <span class="name">Indra Mahaarta</span></h1>
                <h4>Software Developer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus provident nisi hic quam assumenda, sapiente sit</p>
                <div class="btn-container">
                    <button>Visit My Blog</button>
                </div>
            </div>
            <div class="right">
                <div class="foto-profile">
                    <img src="static\foto\indra-removebg-preview.png" alt="indra">
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container">
            <h2>About Me</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi sed ab laborum nostrum dolores eius, assumenda consectetur laboriosam nobis facilis quibusdam nemo, molestiae, velit maiores quidem neque ea. Sint, hic!
            Quaerat aliquid, quasi reiciendis, consequuntur consequatur tempora fugiat eos sapiente dolorem illum, ab voluptatum nemo dolor mollitia dolores harum ut explicabo temporibus in commodi? Consequuntur vel adipisci impedit amet facere.
            Laudantium error praesentium laborum id fugit consequatur, quod sint cupiditate! Officia libero optio omnis, ullam sapiente, saepe perspiciatis similique exercitationem, fugiat vero ipsum deserunt. Expedita doloremque sed suscipit praesentium ea?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam voluptatum nostrum optio quisquam doloremque sint quia! Quos ab modi quod, officiis et officia illo praesentium molestias adipisci quas, ducimus consequuntur!
            Eos error inventore doloremque tenetur quidem libero omnis ea cumque perferendis ipsum alias suscipit, repellat quos eum. Ut est quae magnam, illum iste eligendi excepturi exercitationem totam consectetur? Consequatur, similique?
            Ex distinctio minus quasi expedita perferendis. Blanditiis, perspiciatis delectus? Amet quis magnam neque natus, sapiente quae necessitatibus magni libero modi eveniet voluptatum provident quaerat suscipit non expedita aliquam enim illum!
            Doloremque nam at doloribus aliquam voluptates eius iste incidunt ad, distinctio ut facilis explicabo, expedita rerum a ducimus. Fugit quidem suscipit quisquam nulla, earum velit facere unde natus facilis. Ipsa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aspernatur quam, maiores reiciendis eligendi, vitae, quae neque deleniti natus id quos ut. Eligendi exercitationem obcaecati cupiditate sequi doloribus nisi iusto.</p>
        </div>
    </div>
</div>
{% endblock %}