{% extends 'base.html' %} 

{% load static %} 

{% block meta%}
<title>Indra Mahaarta</title>

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/mainview.css' %}">
{% endblock %} 

{% block content %}
<div class="main-content">
    <div class="landing">
        <div class="left">
            <h1>Hi, i am <span class="name">Indra Mahaarta</span></h1>
            <h4>Software Developer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus provident nisi hic quam assumenda, sapiente sit</p>
            <div class="btn-container">
                <button>Visit My Blog</button>
            </div>
        </div>
        <div class="right">
            <div class="foto-profile">
                <img src="static\foto\indra-removebg-preview.png" alt="indra">
            </div>
        </div>
    </div>
    <div class="about">
        <h2>About Me</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi sed ab laborum nostrum dolores eius, assumenda consectetur laboriosam nobis facilis quibusdam nemo, molestiae, velit maiores quidem neque ea. Sint, hic!
        Quaerat aliquid, quasi reiciendis, consequuntur consequatur tempora fugiat eos sapiente dolorem illum, ab voluptatum nemo dolor mollitia dolores harum ut explicabo temporibus in commodi? Consequuntur vel adipisci impedit amet facere.
        Laudantium error praesentium laborum id fugit consequatur, quod sint cupiditate! Officia libero optio omnis, ullam sapiente, saepe perspiciatis similique exercitationem, fugiat vero ipsum deserunt. Expedita doloremque sed suscipit praesentium ea?</p>
    </div>
</div>
{% endblock %}